fastapi>=0.95.0
google-generativeai
uvicorn[standard]>=0.22.0
pydantic>=1.10.0,<2.0.0
python-dotenv>=1.0.0
sqlalchemy>=1.4
psycopg2-binary
pg8000
alembic
passlib[bcrypt]
python-jose[cryptography]
pyyaml
requests
pytest
python-multipart
argon2-cffi
bcrypt==4.0.1
# Force rebuild 2025-03-06 fixing dateutil
python-dateutil>=2.9.0
